*.log
*.swp
*.back
*.bak
*.sql
*.sql.gz
~*

.htaccess
.maintenance

wp-config.php
sitemap.xml
sitemap.xml.gz
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/

pdfs/
Images/
cgi-bin/
.git/
alpha.myretrospect.com/
beta.myretrospect.com/
store.myretrospect.com/
phpThumb/cache/
comment-logs/
